@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-border-200 outline-none disabled:cursor-not-allowed;
}

@layer utilities {
  .title-h1 {
    @apply font-medium text-[3.5rem] leading-[4rem] tracking-[-0.01em];
  }

  .title-h2 {
    @apply font-medium text-[3rem] leading-[3.5rem] tracking-[-0.01em];
  }

  .title-h3 {
    @apply font-medium text-[2.5rem] leading-[3rem] tracking-[-0.01em];
  }

  .title-h4 {
    @apply font-medium text-[2rem] leading-[2.5rem];
  }

  .title-h5 {
    @apply font-medium text-[1.5rem] leading-[2rem];
  }

  /* LABEL */

  .label-xlarge {
    @apply font-medium text-[1.5rem] leading-[2rem];
  }

  .label-large {
    @apply font-medium 
    text-[1.125rem] leading-[1.5rem];
  }

  .label-medium {
    @apply font-medium leading-[1.5rem];
  }

  .label-small {
    @apply font-medium text-[0.875rem] leading-[1.25rem];
  }

  .label-xsmall {
    @apply font-medium text-[0.75rem] leading-[1rem];
  }
  disabled:cursor-not-allowed

  /* PARAGRAPHS */

  .paragraph-xlarge {
    @apply text-[1.5rem] leading-[2rem] tracking-[-0.015em];
  }

  .paragraph-large {
    @apply text-[1.125rem] leading-[1.5rem] tracking-[-0.015em];
  }

  .paragraph-medium {
    @apply leading-[1.5rem] tracking-[-0.011em];
  }

  .paragraph-small {
    @apply text-[0.875rem] leading-[1.25rem] tracking-[-0.006em];
  }

  .paragraph-xsmall {
    @apply text-[0.75rem] leading-[1rem];
  }

  /* SUBHEADINGS */

  .subheading-medium {
    @apply uppercase font-semibold leading-[1.5rem] tracking-[0.06em];
  }

  .subheading-small {
    @apply uppercase font-semibold text-[0.875rem] leading-[1.25rem] tracking-[0.06em];
  }

  .subheading-xsmall {
    @apply uppercase font-semibold text-[0.75rem] leading-[1rem] tracking-[0.04em];
  }

  .subheading-2xsmall {
    @apply uppercase font-semibold text-[0.6875rem] leading-[0.75rem] tracking-[0.02em];
  }

  /* CARD */

  .card {
    @apply bg-white shadow-xs border p-4 flex flex-col gap-4 rounded-2xl overflow-hidden;
  }

  /* CHECKBOX */

  .checkbox {
    @apply appearance-none size-4 rounded-[4px] border after:absolute after:inset-px after:shadow-[0px_2px_2px_0px_#1B1C1D1F] relative hover:bg-bg-100 border-border-300 active:bg-main-lighter active:border-main-base active:after:shadow-none disabled:bg-bg-200 disabled:border-border-300 disabled:after:shadow-[0px_2px_2px_0px_#0F0F1014_inset] transition-all after:rounded-[2.5px];
  }

  .checkbox:checked {
    @apply bg-main-base border-main-dark border-none border-t shadow-[0px_2px_2px_0px_#16266452_inset] after:shadow-none hover:bg-main-dark active:bg-main-darker active:border-main-darker;
  }

  .checkbox:checked:after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5 4.7124L5.93149 10.5L2.5 6.9335L3.8391 5.7211L5.93149 7.89581L10.1609 3.5L11.5 4.7124Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  /* RADIO */

  .radio {
    @apply appearance-none size-4 rounded-full bg-bg-200 hover:bg-[#CDD0D5] enabled:active:bg-main-base disabled:border-border-300 disabled:shadow-[0px_2px_2px_0px_#0F0F1014_inset] relative transition-all checked:border-main-dark checked:bg-main-base checked:shadow-[0px_2px_2px_0px_#16266452_inset] checked:hover:shadow-none checked:hover:bg-main-dark checked:hover:border-main-darker checked:active:!bg-main-darker;
  }

  .radio:after {
    content: "";
    @apply absolute inset-[2px] shadow-[0px_2px_2px_0px_#1B1C1D1F] bg-white rounded-full transition-colors;
  }

  .radio:checked:after {
    @apply inset-[4px] !shadow-[0px_-2px_3px_0px_#CFD1D3_inset,0px_2px_2px_0px_#1B1C1D1F] border border-white;
  }

  .radio:active:after {
    @apply shadow-none bg-main-lighter;
  }

  .radio:checked:active:after {
    @apply bg-white;
  }

  .radio:disabled:after {
    content: none;
  }

  /* COLOR INPUT */

  input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
  }
}
